{% extends "layouts/base_view.html" %}
{% comment %}
# Copyright 2012 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% load text %}

{% block js_include %}
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jquery.ui.subclass/jquery.ui.subclass.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/common/js/dmg.rinor.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/libraries/simplemodal-basic-1.4.3/js/jquery.simplemodal.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/view/js/elements-page.js"></script>
{% endblock %}

{% block js_script %}
    $(function() {
	$('#show_widgets').click(function (e) {
            $('#basic-modal-content').modal();
            return false;
	});
        $(document).on('click', '.del_widget', function (e) {
            widget_id = $(this).attr('widget-id');
            rinor.delete(['api', 'widgetinstance', widget_id])
                .done(function(data, status, xhr){
                    $('#widget_' + widget_id).remove();
                })
                .fail(function(jqXHR, status, error){
                    if (jqXHR.status == 400)
                        $.notification('error', "{% trans "Widget not deleted" %} (" + jqXHR.responseText + ")");
                });
	});

        $('.add_widget').click(function (e) {
            widget_id = $(this).attr('widget-id');
            rinor.post(['api', 'widgetinstance'], {'page_id': {{ page.id }}, 'widget_id': widget_id})
                .done(function(data, status, xhr){
                    console.log(data);
                    $('#widgetinstances').append("<li id='widget_" + data.id + "'>" + data.id + " - " + data.widget_id + " <button widget-id='" + data.id + "' class='del_widget'>delete</button></li>");
                    $.modal.close();
                })
                .fail(function(jqXHR, status, error){
                    if (jqXHR.status == 400)
                        $.notification('error', "{% trans "Widget not created" %} (" + jqXHR.responseText + ")");
                });
	});
    });
{% endblock %}

{% block css %}
    <link href="{{ static_design_url }}/common/css/ui-buttons.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/view/css/elements-page.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/libraries/simplemodal-basic-1.4.3/css/basic.css" rel="stylesheet" type="text/css" />

    {% for iconset in iconsets %}
    <link href="{{ static_iconsets_url }}/page/{{ iconset.iconset_id }}/icons.css" rel="stylesheet" type="text/css" />    
    {% endfor %}

{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <header role='banner'>
        <h1 class="icon64-{{ page.icon }}">{{ page_title }}</h1>
        <nav role="navigation">
            <ul id="mainmenu">
                <li><a role="button" id ="save" class="button_round icon32-menu-save" href="#" title="{% trans "Save widgets" %}"><span class="offscreen">{% trans "Save widgets" %}</span></a></li>
                <li><a role="button" id ="cancel" class="button_round icon32-menu-cancel" href="{% url page_view page.id %}" title="{% trans "Cancel" %}"><span class="offscreen">{% trans "Cancel" %}</span></a></li>
                <li><a role="button" id ="showwidgets" class="button_round icon24-menu-lookup" href="#" title="{% trans "Show widgets dialog" %}"><span class="offscreen">{% trans "Show widgets dialog" %}</span></a></li>
                <li><a role="button" class="button_round icon24-menu-lock" href="{% url logout_view %}?next={{ request.path }}" title="{% trans "Disconnect" %} {{ request.session.user.first_name }}"><span class="offscreen">{% trans "Log out" %} {{ request.session.user.first_name }}</span></a></li>
            </ul>
        </nav>
    </header>
    <div id="basic-modal-content">
        <h2>Basic Modal Dialog</h2>
        <ul>
        {% for widget in widgets %}
            <li><button class='add_widget' widget-id='{{ widget.id }}'>{{ widget.name }}</button></li>
        {% endfor %}
        </ul>
    </div>
    <section role='main'>
        <ul id='widgetinstances'>
        {% for instance in widgetinstances %}
            <li id='widget_{{ instance.id }}'>{{ instance.id }} - {{ instance.widget_id }} <button widget-id='{{ instance.id }}' class='del_widget'>delete</button></li>
        {% endfor %}
        </ul>
        <button id='show_widgets'>Add widget</button>
    </section>
    

{% endblock %}