{% extends "layouts/base_view.html" %}
{% comment %}
# Copyright 2012 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% load text %}

{% block js_include %}
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jquery.ui.subclass/jquery.ui.subclass.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/common/js/dmg.rinor.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/libraries/simplemodal-basic-1.4.4/js/jquery.simplemodal.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/libraries/gridster/jquery.gridster.min.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/view/js/elements-page.js"></script>
{% endblock %}

{% block js_script %}
    $(function() {
    });
{% endblock %}

{% block css %}
    <link href="{{ static_design_url }}/common/css/ui-buttons.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/view/css/elements-page.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/view/css/simplemodal.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/libraries/gridster/jquery.gridster.min.css" rel="stylesheet" type="text/css" />

    {% for iconset in iconsets %}
    <link href="{{ static_iconsets_url }}/page/{{ iconset.iconset_id }}/icons.css" rel="stylesheet" type="text/css" />    
    {% endfor %}

{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <header role='banner'>
        <h1 class="icon64-{{ page.icon }}">{{ page_title }}</h1>
        <nav role="navigation">
            <ul id="mainmenu">
                <li><a role="button" id ="save" class="button_round icon32-menu-save" href="#" title="{% trans "Save widgets" %}"><span class="offscreen">{% trans "Save widgets" %}</span></a></li>
                <li><a role="button" id ="cancel" class="button_round icon32-menu-cancel" href="{% url "page_view" page.id %}" title="{% trans "Cancel" %}"><span class="offscreen">{% trans "Cancel" %}</span></a></li>
                <li><a role="button" id ="show_widgets" class="button_round icon24-menu-lookup" href="#" title="{% trans "Show widgets dialog" %}"><span class="offscreen">{% trans "Show widgets dialog" %}</span></a></li>
                <li><a role="button" class="button_round icon24-menu-lock" href="{% url "logout_view" %}?next={{ request.path }}" title="{% trans "Disconnect" %} {{ request.session.user.first_name }}"><span class="offscreen">{% trans "Log out" %} {{ request.session.user.first_name }}</span></a></li>
            </ul>
        </nav>
    </header>
    <main role='main'>        
        <form action="{% url "page_elements_view" page.id %}" id="pageForm" method="post">
            <input type='hidden' id='widgetsplacement' name='widgetsplacement' value='' />
            <section id='widgetsconfig'>
                {% for instance in widgetinstances %}
                    <div id='configinstance_{{ instance.id }}' class="modal widgetconfig">
                        <h2>Widget {{ instance.widget_id }} parameters</h2>
                        <div class='widget_parameters'>
                            {% include 'widget_parameters.html' %}
                        </div>
                    </div>
                {% endfor %}
            </section>
        </form>
        <div id='widgetsmatrix' role="list">
            {% for instance in widgetinstances %}
                <div role='listitem' id='widgetinstance_{{ instance.id }}' class='widgetinstance' data-instanceid='{{ instance.id }}' data-row="{{ instance.row }}" data-col="{{ instance.col }}" data-sizex="1" data-sizey="1">
                    {{ instance.widget_id }}
                    <button class='conf_widget' data-instanceid="{{ instance.id }}">{% trans "Configure" %}</button>
                    <button class='del_widget' data-instanceid="{{ instance.id }}">{% trans "Remove" %}</button>
                </div>
            {% endfor %}
        </div>
        <div id="widgetslist" class="modal">
            <h2>Choose a Widget</h2>
            <ul>
            {% for widget in widgets %}
                <li><button class='add_widget' data-widgetid='{{ widget.id }}' data-width='{{ widget.width }}' data-height='{{ widget.height }}'>{{ widget.name }}</button></li>
            {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}