{% load i18n %}
<h3>Sensors</h3>
{{ forms.sensorsform.non_field_errors }}
<table class='parameters' cellpadding='0' cellspacing='0'>
    <thead class='offscreen'>
        <tr>
            <th scope='col'>Name</th>            
            <th scope='col'>Sensor</th>            
        </tr>
    </thead>
    <tbody>
{% for field in forms.sensorsform %}
    <tr class='{% cycle 'odd' 'even' %}'>
        <td class='name'>
            <label for="{{ field.auto_id }}" class="{% if field.field.required %}required{% endif %}">
               {{ field.label }} {% if field.field.required %}<span class="offscreen"> {% trans "(required)" %}</span>{% endif %}</span>
            </label>
            <div class='description'>{{ field.help_text }}</div>
            {% if field.errors %}<div class='errors'>{{ field.errors }}</div>{% endif %}
        </td>
        <td class='input'>
            {{ field }}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<h3>Options</h3>
{{ forms.optionsform.non_field_errors }}
<table class='parameters' cellpadding='0' cellspacing='0'>
    <thead class='offscreen'>
        <tr>
            <th scope='col'>Name</th>            
            <th scope='col'>Sensor</th>            
        </tr>
    </thead>
    <tbody>
{% for field in forms.optionsform %}
    <tr class='{% cycle 'odd' 'even' %}'>
        <td class='name'>
            <label for="{{ field.auto_id }}" class="{% if field.field.required %}required{% endif %}">
               {{ field.label }} {% if field.field.required %}<span class="offscreen"> {% trans "(required)" %}</span>{% endif %}</span>
            </label>
            <div class='description'>{{ field.help_text }}</div>
            {% if field.errors %}<div class='errors'>{{ field.errors }}</div>{% endif %}
        </td>
        <td class='input'>
            {{ field }}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
