header {
    background-color: #ffffff;
    border-bottom: 1px solid #EFEFEF;
}

html, body {
    background: url(../images/form_bgnd.png)
}

.modal {display:none;}

.widgetinstance {
    display: block;
    position: absolute;
    border: dashed 1px #000000;
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
}
