header {
    background-color: #ffffff;
    border-bottom: 1px solid #EFEFEF;
}

html, body {
    background: url(../images/form_bgnd.png)
}

.modal {display:none;}

.widgetinstance {
    color: #e8e8e8;
    display: block;
    position: absolute;
    border-bottom: solid 3px #00981c;
    background: none repeat scroll 0 0 #3C3C3C;
    cursor: pointer;
    padding: 1em;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.widgetinstance.not_configured {
    border-bottom: solid 3px #980000;    
}

.force_close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    display: none;
}

table.parameters {
    width: 100%;
}

table.parameters td.name {
    width: 20em;
}

table.parameters td.input {
    text-align: center;
}

table.parameters td {
    padding: 0.2em 1em 0.2em 1em;
    border-bottom: 1px solid #41434A;
}

table.parameters label {
    display: block;
    float: right;
    font-weight: bold;
}

table.parameters label.required {
}

table.parameters label.required:after { content:" *"; }

table.parameters .odd td {
    background-color: #877963;
    color: #F2F1E9;
}

table.parameters .even td {
    background-color: #F2F1E9;
    color: #41434A;
}

table.parameters .description {
    font-size: 0.8em;
    font-style: italic;
}

table.parameters .errors {
    color: #a50003;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}

table.parameters select, table.parameters input, table.parameters textarea {
    min-width: 20em;
}